In [1]:
import nltk
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import re

The Data is used from data v 3.0.0 folder

In [2]:
Tweets_C = pd.read_csv('/content/Tweets_CE_Species.csv')
Tweets_E = pd.read_csv('/content/Tweets_PE_species.csv')
Tweets_V_100 = pd.read_csv('/content/Tweets_V_species_100.csv')
Tweets_V_200 = pd.read_csv('/content/Tweets_V_species_200.csv')
Tweets_V_300 = pd.read_csv('/content/Tweets_V_species_300.csv')
Tweets_V_400 = pd.read_csv('/content/Tweets_V_species_400.csv')
Tweets_V_500 = pd.read_csv('/content/Tweets_V_species_500.csv')
Tweets_V_595 = pd.read_csv('/content/Tweets_V_species_595.csv')

In [3]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [4]:
lemma = WordNetLemmatizer()
stop_words = stopwords.words('english')

In [5]:
def text_prep(x):
     corp = str(x).lower() 
     corp = re.sub('[^a-zA-Z]+',' ', corp).strip() 
     tokens = word_tokenize(corp)
     words = [t for t in tokens if t not in stop_words]
     lemmatize = [lemma.lemmatize(w) for w in words]
    
     return lemmatize

In [6]:
from nltk.corpus import wordnet

In [7]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [8]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [9]:
nltk.download('corpus')

[nltk_data] Error loading corpus: Package 'corpus' not found in index

False

In [10]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Unzipping corpora/omw-1.4.zip.

True

## Critically Endangered Species

In [38]:
tweets_df = Tweets_C.copy()

In [39]:
preprocess_tag = [text_prep(i) for i in tweets_df['text']]
tweets_df["preprocess_txt"] = preprocess_tag

In [40]:
tweets_df['total_len'] = tweets_df['preprocess_txt'].map(lambda x: len(x))

In [41]:
tweets_df.head()

,Unnamed: 0,user_name,user_description,user_location,user_verification,date,text,hashtags,source,retweets,preprocess_txt,total_len
0,0,PanfilLera,NaN,NaN,False,2022-06-20 02:22:32,A little good news. The Sumatran rhinoceros ar...,NaN,Twitter Web App,1,"[little, good, news, sumatran, rhinoceros, cri...",26
1,1,GehlhausenLarhonda,NaN,NaN,False,2022-06-20 02:10:38,A little good news. The Sumatran rhinoceros ar...,NaN,Twitter Web App,0,"[little, good, news, sumatran, rhinoceros, cri...",26
2,2,Mike Hudema,#Climate Campaigner focusing on addressing the...,Unceded Squamish Territory,True,2022-06-17 23:32:03,A little good news. The Sumatran rhinoceros ar...,NaN,Buffer,279,"[little, good, news, sumatran, rhinoceros, cri...",30
3,3,OPH Rescue,OPH Rescue brings dogs and cats from overcrowd...,"VA, DC, MD, PA",False,2022-06-16 15:14:45,Sumatran Rhinoceros has his smile camera ready...,NaN,Twitter Web App,4,"[sumatran, rhinoceros, smile, camera, ready, l...",25
4,4,Sudan the Rhino fans,"Sudan, the last male Northern White Rhino, is ...",Canada,False,2022-06-14 16:13:38,"@burtonlim Hi Mr. Lim, I wanted to explore don...",NaN,Twitter for iPad,0,"[burtonlim, hi, mr, lim, wanted, explore, dona...",17

In [42]:
tweets_df.shape

(446, 12)

In [43]:
tweets_df.to_csv('Tweets-CES-Preprocessed.csv')

## Possibly Extinct Species

In [44]:
tweets_df = Tweets_E.copy()

In [45]:
preprocess_tag = [text_prep(i) for i in tweets_df['text']]
tweets_df["preprocess_txt"] = preprocess_tag

In [46]:
tweets_df['total_len'] = tweets_df['preprocess_txt'].map(lambda x: len(x))

In [47]:
tweets_df.head()

,Unnamed: 0,user_name,user_description,user_location,user_verification,date,text,hashtags,source,retweets,preprocess_txt,total_len
0,0,JustinBonanza,random mash-up of @justinbieber @jtimberlake @...,NaN,False,2022-06-23 03:26:34,Syria made history launching Does Northern whi...,NaN,avmtest,0,"[syria, made, history, launching, northern, wh...",7
1,1,Makio Gaminor,Artist / Conservationist ü•ë I make art about t...,A place with a nice breeze,False,2022-06-20 03:28:08,The northern white rhinoceros is on the verge ...,NaN,Twitter Web App,2,"[northern, white, rhinoceros, verge, extinctio...",25
2,2,Grimm Nevada,"Conservative, writer, artist, Common sense per...",NaN,False,2022-06-20 01:52:37,Here we see a touching photo of a male norther...,NaN,Twitter Web App,0,"[see, touching, photo, male, northern, white, ...",27
3,3,Scientific Reports,Online & #openaccess. A primary research publi...,London,True,2022-06-16 11:35:48,"In their elegant study, @DrukkerMicha, Sebasti...",NaN,Twitter Web App,0,"[elegant, study, drukkermicha, sebastian, diec...",26
4,4,Automated,Just a twitter bot who tweets a ùìêùìæùìΩùì∏ùì∂ùì™ùìΩùìÆùì≠ tweet,Automated,False,2022-06-23 09:13:24,"A Kouprey is never depressed , unless it is a ...",NaN,"Cheap Bots, Done Quick!",0,"[kouprey, never, depressed, unless, russian, one]",6

In [48]:
tweets_df.shape

(43, 12)

In [49]:
tweets_df.to_csv('Tweets-PES-Preprocessed.csv')

## Vulnerable Species

In [50]:
Tweets_V = Tweets_V_100

In [51]:
Tweets_V = pd.concat([Tweets_V,Tweets_V_200], axis=0)
Tweets_V = pd.concat([Tweets_V,Tweets_V_300], axis=0)
Tweets_V = pd.concat([Tweets_V,Tweets_V_400], axis=0)
Tweets_V = pd.concat([Tweets_V,Tweets_V_500], axis=0)
Tweets_V = pd.concat([Tweets_V,Tweets_V_595], axis=0)

In [59]:
Tweets_V.to_csv('Tweets_V_Species.csv')

In [52]:
tweets_df = Tweets_V.copy()

In [53]:
preprocess_tag = [text_prep(i) for i in tweets_df['text']]
tweets_df["preprocess_txt"] = preprocess_tag

In [54]:
tweets_df['total_len'] = tweets_df['preprocess_txt'].map(lambda x: len(x))

In [55]:
tweets_df.head()

,Unnamed: 0,user_name,user_description,user_location,user_verification,date,text,hashtags,source,retweets,preprocess_txt,total_len
0,0,Not The Krookodile Hunter üá≤üáΩ,Hola seguidores. Estoy de incognita para que ...,"Richmond, CA",False,2022-06-22 10:48:30,@HarpyGoth Brad the Roseate Skimmer\nRyder the...,NaN,Twitter for Android,0,"[harpygoth, brad, roseate, skimmer, ryder, kno...",19
1,1,Saravanakumar CS,NaN,NaN,False,2022-06-18 09:08:30,@save_pangolin @Vikash_BR @UtkarshSingh_ fucki...,NaN,Twitter for Android,0,"[save, pangolin, vikash, br, utkarshsingh, fuc...",25
2,2,The Left isn't divided the center is üêåüçÑüêôü¶îüò∑üêå,"Lennonist dreamer, peacenik. Snark and sarcasm...",üê¢üèù,False,2022-06-17 12:56:51,If there‚Äôs anyone around in 2622 maybe they‚Äôll...,NaN,Twitter for iPhone,0,"[anyone, around, maybe, settle, pangolin, grou...",18
3,3,Phillip Templo Jr.,Pathology Residency Program Director @ https:/...,Manila: All views are my OWN,False,2022-06-23 17:23:47,@pripri_gosakto If they tell you once again na...,NaN,Twitter Web App,0,"[pripri, gosakto, tell, na, may, dugong, kasti...",14
4,4,RENOüêäüêä,no way‚Ä¶.he just ate my hair :3c,Your moms house,False,2022-06-23 16:16:45,@fizzygoop Well sucks to suck dugong I have a ...,NaN,Twitter for iPhone,0,"[fizzygoop, well, suck, suck, dugong, overall,...",7

In [56]:
tweets_df.shape

(843, 12)

In [57]:
tweets_df.to_csv('Tweets-VS-Preprocessed.csv')